/* Custom CSS for Cooking Recipes Collection Web App */
body {
    background-color: #F4F4F4; /* Light Gray */
}

.navbar {
    background-color: #F07070; /* Coral Red */
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff; /* White */
    margin-right: 15px;
}

.navbar-nav .nav-link:hover {
    background-color: #D94848; /* Slightly darker Coral Red */
}

.container {
    max-width: 800px;
}

.header-title {
    font-size: 36px;
}

.lead {
    font-size: 18px;
}

.article-title {
    font-size: 28px;
}

.article-content {
    font-size: 16px;
    line-height: 1.6;
}

.footer {
    background-color: #F07070; /* Coral Red */
    color: #fff; /* White */
}
