{% extends "base.html" %}

{% block page_title %}
Recipe Collection
{% endblock %}

{% block page_content %}
Welcome to Cooking Recipe Collection!.<br><br>
Get ready to dive into a world of deliciousness. On this website,<br>
you can show off your cooking recipes, clear out the ones that didn't<br>
quite make the cut, easily hunt down specific recipes, and even take<br>
a leisurely scroll through a mouthwatering collection of dishes. So,<br>
if you're all about food and fun, you're in the right place!
{% endblock %}