{% extends "base.html" %}

{% block page_title %}
Recipe Collection - Remove Recipes
{% endblock %}

{% block page_content %}
<form method="POST" action="">
    <div class="form-group">
        <label for="recipe_to_remove">Select Recipe to Remove:</label>
        <select class="form-control" id="recipe_to_remove" name="recipe_to_remove">
            <option value="" disabled selected>Select a recipe</option>
            {% for recipe in recipes %}
                <option value="{{ recipe }}">{{ recipe }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-danger">Remove Recipe</button>
</form>
{% endblock %}