{% extends "base.html" %}

{% block page_title %}
Recipe Collection - Search Recipes
{% endblock %}

{% block page_content %}
<section class="container mt-5">
    <header class="text-center">
        <h1 class="display-4">Search Recipes</h1>
        <p class="lead">Search for recipes by name or ingredients.</p>
    </header>
</section>

<section class="container my-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <form action="{{ url_for('search_recipe_results') }}" method="get">
                <div class="form-group">
                    <label for="search_term">Search Term:</label>
                    <input type="text" name="search_term" class="form-control" placeholder="Enter recipe name or ingredients">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
